{% extends 'base.html' %}
{% load static %}

{% block title %} Registro de usuario {% endblock title %}

{% block contenido %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <h1 class="text-center">Registro de usuarios</h1>
            <br>
            <div class="messages text-center">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger mt-1">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success btn-lg">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock contenido %}